{% extends 'base.html' %}



{% block content %}




<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed deserunt, accusantium corrupti adipisci nemo
            commodi.
            Ipsum cumque est inventore doloribus cum, non consequuntur quia! Totam ipsa est ducimus quam porro delectus
            eligendi
            vel
            alias, sequi repellat unde tenetur obcaecati nam impedit quasi ullam numquam non architecto iusto
            perferendis
            deleniti
            ipsam provident odio optio. Deleniti earum assumenda sed unde repellat, excepturi eligendi, nemo commodi a
            totam,
            quibusdam blanditiis modi dolor quasi iure illo! Accusamus quisquam dolor, iure corrupti pariatur, adipisci
            similique
            atque praesentium esse aliquid repellat quasi blanditiis deleniti labore aspernatur, ipsa quibusdam nulla ab
            ipsum?
            Possimus velit maxime voluptatum nihil?
        </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>

    </section>
</main>


{% endblock %}